.layout {
  display: flex;
  min-height: 100vh;
}

.sections {
  width: 80%;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.navbar {
  min-height: 100vh;
  width: 20%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu > li {
  margin-bottom: 10%;
  background-color: grey;
}

.intro {
  width: 80%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/react.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}