:root {
    --navbar-width: 17%;
}

.sections {
  width: calc(100% - var(--navbar-width));
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

nav {
  width: -moz-available;
  width: -webkit-fill-available;
  padding-left: 2rem;
}

.navbar {
  height: 100vh;
  width: var(--navbar-width);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  position: fixed;
}

.menu {
  list-style: none;
  padding-left: 0;
}

.menu > li {
  margin: 2rem 0;
}

.name {
  width: -moz-available;
  width: -webkit-fill-available;
  padding: 1.5rem 2rem;
}

.header {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/src/assets/react.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80vh;
}

.timeline {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 2rem;
  width: -moz-available;
  width: -webkit-fill-available;
}

.project {
  padding: 1rem;
  border-radius: 8px;
}

.dark {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

.light {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
}

.dark .navbar {
  background-color: #000000;
  border-right: 1px solid white;
}

.light .navbar {
  border-right: 1px solid black;
}

.dark .project {
  background-color: black;
  border: 1px solid #ffffff;
}

.light .project {
  background-color: #f5f5f5;
  border: 1px solid #000000;
}

.dark-mode-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dark .name {
  background-color: black;
  border-bottom: 1px solid white;
}

.light .name {
  border-bottom: 1px solid black;
}

.dark .header {
  border-bottom: 1px solid white;
}

.light .header {
  border-bottom: 1px solid black;
}

.filter-buttons {
  width: 80%;
  display: flex;
  justify-content: center;
}

.filter-buttons > button {
  background: transparent;
  cursor: pointer;
}

.dark .filter-buttons > button {
  border: 1px solid white;
}

.light .filter-buttons > button {
  border: 1px solid black;
}

.filter-buttons > button.active {
  border: 3px solid lightskyblue;
}