:root {
    --navbar-width: 15%;
}

.sections {
  width: calc(100% - var(--navbar-width));
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

nav {
  width: 100%;
}

.navbar {
  height: 100vh;
  width: var(--navbar-width);
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
  position: fixed;
  border-right: 1px solid white;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu > li {
  margin: 2rem 0;
}

.navbar > span {
  border-bottom: 1px solid white;
  width: 100%;
  padding: 1rem 0rem;
  text-align: center;
}

.intro {
  height: 80vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/src/assets/react.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid white;
}

.timeline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 0;
  margin: 2rem 0;
}

.project {
  padding: 1rem 1.5rem;
  background: #000000;
  border-radius: 8px;
}

.project.title {
  grid-column: 1;
  text-align: left;
}

.project.description {
  grid-column: 2;
  text-align: left;
}